<div class="banner", style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path ('barber_banner.jpg')%>); opacity: 0.93;">
    <%#= image_tag('barber.jpg'), class: 'banner' %>
    <div class="container text-uppercase font-weight-bold">
      <div class="accroche">
        <h1><strong>Style impeccable</strong><h1>
        <h1>Pour hommes </h1>
        <h1>Exigeant.</h1>
        <%= link_to "Reserve", "#", class: "btn btn-flat" %>
      </div>
      <div class="heures">
        <p id='open'>OPEN HOURS</p>
        <p><strong>Week :</strong></p>
        <p class='time-little'> 6 PM - 10 PM </p>
        <p><strong>Week-end :</strong></p>
        <p class='time-little'>10 AM - 10 PM</p>
      </div>
    </div>
    <div class="micro-footer d-flex">
      <div class="slogan">
        <p id="text-center"><strong>Entrez comme un client, sortez comme un Gentleman.</strong></p>
      </div>
      <div class="logo-right">
        <a href='https://www.instagram.com' target='_blank'><i class="fab fa-instagram"></i></a>
        <a href='https://www.tiktok.com/' target='_blank'><i class="fab fa-tiktok"> </i></a>
        <a href='https://www.facebook.com' target='_blank'><i class="fab fa-facebook"></i></a>
      </div>
    </div>
</div>
