<div class="banner", style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path ('barber.jpg')%>);">
    <%#= image_tag('barber.jpg'), class: 'banner' %>
    <div class="container">
      <h1>You need some informations ! <strong>You can contact me on my social media !</strong></h1>
      <p>Please put your name and why you contact me !</p>
      <%= link_to "Book now", bookings_path , class: "btn btn-flat" %>
    </div>
</div>

<div class="social-media">
  <div class="list-media">
    <ul>
    <div class="media">
      <li class="instagram"> <h4><i class="fa-brands fa-instagram fa-2xl" style="color: #ce9c6b;"></i> Instagram</h4>
      <br>
      <br>
      <br>
      <h5>Japs.barber</h5>
      </li>
      <li class="tiktok"><h4><i class="fa-brands fa-tiktok fa-2xl" style="color: #ce9c6b;"></i> Tik tok</h4>
      <br>
      <br>
      <br>
      <h5>@jcbulanadi</h5>
      </li>
      <li class="email"><h4><i class="fa-solid fa-envelope fa-2xl" style="color: #ce9c6b;"></i> Email</h4>
      <br>
      <br>
      <br>
      <h5>jc@gmail.com</h5>
      </li>
    </div>
    </ul>
  </div>
</div>
