.alert {
  padding: 15px;
  width: 360px;
  border-radius: 10px;
  position: fixed;
  background-color: #3d93ce;
  right: 16px;
  z-index: 1000;
  top: 100px;
  // right: 30px;
  min-height: 30px;
  color: $white;
}

.close {
  opacity: 1;
  background-color: #eee;
  width: 30px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #333;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}

abbr[title]{
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://img.freepik.com/premium-vector/yellow-star-icon-vector-illustration_118339-2885.jpg') !important;
  opacity: 0.8;
  text-decoration: none;
}

abbr[title]:hover{
  background: rgb(236, 234, 67);
  border-radius: 30%;
  color: $red !important;
}
