
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

/* This changes all the animations globally */
// :root {
//   --animate-duration: 800ms;
//   --animate-delay: 0.9s;
// }
.animate__fadeInUp{
  --animate-delay: 5s;
  --animate-duration: 5s;
}

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
