

#open{
    font-size: 21px;
    font-weight: 600;
    opacity: 0.9;
    padding-bottom: 10px;
    font-family: $test-font;
}

.time-little{
  font-size: 15px !important;
  opacity: 0.6 !important;
}
.banner img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  margin: 0px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #ce9c6b;
  transition: background 0.3s ease;
}

.micro-footer{
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fab{
  color: #ce9c6b;
}
// #text-center{
//   // align-items: center;
//   // text-align: center;
//   // justify-content: center;
// }

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
