.card {
  background-color: #1A1E21;
  color: white;
}

.btn-flat {
  margin-bottom: 15px;
}

.card-form {
  height: 44vh;
  background-color: #1A1E21;
  color: white;
}

.container-form {
  padding: 15px;
  color: white;
}

#char_count {
  color: white;
}
