.service{
  background: $black;
  padding: 20px 0;
}

.grid_column{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.opacity-text{
  opacity: 0.6;
  font-size: small;
  font-weight: lighter;
}

.coupe h5{
  text-align: center;
}

.color-logo{
  background-color: $brown;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.center-content{
  display: flex;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.coupe{
  padding-bottom: 10px;
}

.coupe p{
  text-align: center;
  // peut etre a changer plus tard
  // text-align: justify;
}
